{% extends 'gestion_trafic/base.html' %}

{% block content %}
<div class="form-card">
    <h3 class="form-header">{% if object %}Modifier{% else %}Ajouter{% endif %} un Aéroport</h3>
    <div class="form-body">

        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Enregistrer l'aéroport</button>
                <a href="{% url 'liste_aeroports' %}" class="btn btn-secondary">Annuler</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}