{% extends 'gestion_trafic/base.html' %}

{% block content %}
<div class="form-card">
    <h3 class="form-header">{% if object %}Modifier{% else %}Ajouter{% endif %} un Modèle Technique</h3>
    <div class="form-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Enregistrer les spécifications</button>
                <a href="{% url 'liste_types_avions' %}" class="btn btn-secondary">Annuler</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}