{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour de Contrôle - SAÉ Traffic</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar">
    <a class="navbar-brand" href="{% url 'accueil' %}"> Tour de Contrôle</a>
    <ul class="navbar-nav">
        <li><a class="nav-link" href="{% url 'liste_vols' %}">Vols</a></li>
        <li><a class="nav-link" href="{% url 'liste_avions' %}">Avions</a></li>
        <li><a class="nav-link" href="{% url 'liste_aeroports' %}">Aéroports</a></li>
        <li><a class="nav-link" href="{% url 'liste_pistes' %}">Pistes</a></li>
        <li><a class="nav-link" href="{% url 'liste_compagnies' %}">Compagnies</a></li>
        <li><a class="nav-link" href="{% url 'liste_types_avions' %}">Types d'Avions</a></li>
    </ul>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>